[submodule "NARC"]
	path = NARC
	url = git@github.com:ltgoslo/NARC.git
[submodule "UD_Norwegian-Bokmaal"]
	path = UD_Norwegian-Bokmaal
	url = git@github.com:UniversalDependencies/UD_Norwegian-Bokmaal.git
[submodule "norne"]
	path = norne
	url = git@github.com:ltgoslo/norne.git
