[submodule "NARC"]
	path = data/narc
	url = git@github.com:ltgoslo/NARC.git
[submodule "UD_Norwegian-Bokmaal"]
	path = data/UD/UD_Norwegian-Bokmaal
	url = git@github.com:UniversalDependencies/UD_Norwegian-Bokmaal.git
[submodule "norne"]
	path = data/norne
	url = git@github.com:ltgoslo/norne.git
[submodule "UD_Norwegian-Nynorsk"]
	path = data/UD/UD_Norwegian-Nynorsk
	url = git@github.com:UniversalDependencies/UD_Norwegian-Nynorsk.git
[submodule "validation/corefconversion"]
	path = validation/corefconversion
	url = git@github.com:boberle/corefconversion.git
